## Tuples

In [3]:
thisTuple = ("apple", "banana", "cherry", "apple")
print(type(thisTuple), thisTuple, len(thisTuple))

<class 'tuple'> ('apple', 'banana', 'cherry', 'apple') 4

In [5]:
thistuple = ("apple",)
print(type(thistuple))

#NOT a tuple
thistuple = ("apple")
print(type(thistuple))

<class 'tuple'>
<class 'str'>

In [ ]:
tuple1 = ("abc", 34, True, 40, "male")

print(type(tuple1), tuple1)
# Access
print(tuple1[3])
# Slicing
newTuple = tuple1[0:3]
print(newTuple)

<class 'tuple'> ('abc', 34, True, 40, 'male')
40
('abc', 34, True)

In [11]:
# mutable

lst = [ 10 , 20 , 30 , 40 ] 
lst.append(60)
lst[1] = 100
print(lst)

# immutable
tup= ( 10 , 20 , 30 , 40 ) 
tup[1]= 100 
print(tup)

[10, 100, 30, 40, 60]

TypeError: 'tuple' object does not support item assignment

In [15]:
# tuple method 
tup= ( 10 , 20 , 30 , 40 , 10 , 20 , 30 ,10 )

print(tup.index(30))
print(tup.count(10))

2
3

## SETS

In [5]:
A = {5 , 2 , 3}

print(type(A), A)

<class 'set'> {2, 3, 5}

In [1]:
# empty structures
b = []
print(type(b))

c = ()

print(type(c))

s = {}
print(type(s))

s2 = set()

print(type(s2))

<class 'list'>
<class 'tuple'>
<class 'dict'>
<class 'set'>

In [5]:
# accessing 
s = {1, 2, 3, 4, 1, 2}

print(s)
if (10 in s):
  print("3 is present")
else:
  print("not present")
sum = 0
for element in s:
  sum += element
print(sum)

{1, 2, 3, 4}
not present
10

In [10]:
#mutable
s= {5, 1 , 2 ,4, 3} 
print(s)
s.add(10)
s.add(0)
print(s)

s.pop()
s.pop()
print(s)

s.remove(5)
print(s)

{1, 2, 3, 4, 5}
{0, 1, 2, 3, 4, 5, 10}
{2, 3, 4, 5, 10}
{2, 3, 4, 10}

## Set Mathematical Methods

In [14]:
a = { 1, 2, 3 } 
b = {1, 2 , 5,6, 4 } 

print( a.union(b) )
print(a.intersection(b))
print(a.isdisjoint(b))
print(a.issubset(b))

{1, 2, 3, 4, 5, 6}
{1, 2}
False
False

## Dictionaries in Python