## Tuples

In [3]:
thisTuple = ("apple", "banana", "cherry", "apple")
print(type(thisTuple), thisTuple, len(thisTuple))

<class 'tuple'> ('apple', 'banana', 'cherry', 'apple') 4

In [5]:
thistuple = ("apple",)
print(type(thistuple))

#NOT a tuple
thistuple = ("apple")
print(type(thistuple))

<class 'tuple'>
<class 'str'>

In [ ]:
tuple1 = ("abc", 34, True, 40, "male")

print(type(tuple1), tuple1)
# Access
print(tuple1[3])
# Slicing
newTuple = tuple1[0:3]
print(newTuple)

<class 'tuple'> ('abc', 34, True, 40, 'male')
40
('abc', 34, True)

In [11]:
# mutable

lst = [ 10 , 20 , 30 , 40 ] 
lst.append(60)
lst[1] = 100
print(lst)

# immutable
tup= ( 10 , 20 , 30 , 40 ) 
tup[1]= 100 
print(tup)

[10, 100, 30, 40, 60]

TypeError: 'tuple' object does not support item assignment

In [15]:
# tuple method 
tup= ( 10 , 20 , 30 , 40 , 10 , 20 , 30 ,10 )

print(tup.index(30))
print(tup.count(10))

2
3

## SETS

In [5]:
A = {5 , 2 , 3}

print(type(A), A)

<class 'set'> {2, 3, 5}

In [1]:
# empty structures
b = []
print(type(b))

c = ()

print(type(c))

s = {}
print(type(s))

s2 = set()

print(type(s2))

<class 'list'>
<class 'tuple'>
<class 'dict'>
<class 'set'>

In [5]:
# accessing 
s = {1, 2, 3, 4, 1, 2}

print(s)
if (10 in s):
  print("3 is present")
else:
  print("not present")
sum = 0
for element in s:
  sum += element
print(sum)

{1, 2, 3, 4}
not present
10

In [10]:
#mutable
s= {5, 1 , 2 ,4, 3} 
print(s)
s.add(10)
s.add(0)
print(s)

s.pop()
s.pop()
print(s)

s.remove(5)
print(s)

{1, 2, 3, 4, 5}
{0, 1, 2, 3, 4, 5, 10}
{2, 3, 4, 5, 10}
{2, 3, 4, 10}

## Set Mathematical Methods

In [14]:
a = { 1, 2, 3 } 
b = {1, 2 , 5,6, 4 } 

print( a.union(b) )
print(a.intersection(b))
print(a.isdisjoint(b))
print(a.issubset(b))

{1, 2, 3, 4, 5, 6}
{1, 2}
False
False

## Dictionaries in Python

In [2]:
dic = {}
print(type(dic))

dic = {"name" : "Mimino", "age" : 20, "address" : "Chittagong", "numbers" : [10,20,30]}

print(type(dic), dic)

<class 'dict'>
<class 'dict'> {'name': 'Mimino', 'age': 20, 'address': 'Chittagong', 'numbers': [10, 20, 30]}

In [8]:
# access

print(dic["name"])
print(dic.get("age"))

dic["name"] = "Mimino Computing"
print(dic["name"])
dic = {"name" : "Mimino", "age" : 20, "address" : "Chittagong", "numbers" : [10,20,30], "age" : 30}

Mimino Computing
20
Mimino Computing

In [9]:
# printing default values

print(dic)

print(dic.get("mathMarks"))
print(dic.get("mathMarks", 0))

{'name': 'Mimino', 'age': 30, 'address': 'Chittagong', 'numbers': [10, 20, 30]}
None
0

In [11]:
# adding a value 
dic = {"name" : "Mimino", "age" : 20, "address" : "Chittagong", "numbers" : [10,20,30], "age" : 30}
print(dic)

dic["mathMarks"] = 30
print(dic)
dic.update({"engMarks": 80})
print(dic)

{'name': 'Mimino', 'age': 30, 'address': 'Chittagong', 'numbers': [10, 20, 30]}
{'name': 'Mimino', 'age': 30, 'address': 'Chittagong', 'numbers': [10, 20, 30], 'mathMarks': 30}
{'name': 'Mimino', 'age': 30, 'address': 'Chittagong', 'numbers': [10, 20, 30], 'mathMarks': 30, 'engMarks': 80}

In [13]:
# deleting 

del dic["mathMarks"]
print(dic)

{'name': 'Mimino', 'age': 30, 'address': 'Chittagong', 'numbers': [10, 20, 30], 'engMarks': 80}

In [14]:
dic_2 = dic.copy()
print(dic_2)

{'name': 'Mimino', 'age': 30, 'address': 'Chittagong', 'numbers': [10, 20, 30], 'engMarks': 80}

### Iterating over Dictionary

In [18]:
dic = {"name" : "Mimino", "age" : 20, "address" : "Chittagong", "numbers" : [10,20,30], "age" : 30}

keys = dic.keys()
print(keys)

dic["mathNumbers"] = 80
print(keys)

values = dic.values()
print(values)

items = dic.items()
print(items)

dict_keys(['name', 'age', 'address', 'numbers'])
dict_keys(['name', 'age', 'address', 'numbers', 'mathNumbers'])
dict_values(['Mimino', 30, 'Chittagong', [10, 20, 30], 80])
dict_items([('name', 'Mimino'), ('age', 30), ('address', 'Chittagong'), ('numbers', [10, 20, 30]), ('mathNumbers', 80)])

In [19]:
# iteration 
for key,value in dic.items():
    print(key,value)

name Mimino
age 30
address Chittagong
numbers [10, 20, 30]
mathNumbers 80

### Dictionary Comprehension

In [25]:
# print(type(range(1,10)))
square = {x: x**2 for x in range(1,11) if x % 2 == 0}
print(square)

{2: 4, 4: 16, 6: 36, 8: 64, 10: 100}

In [26]:
CoOrdinates = [(10,10.5),(20.5,192) , ( 101,102) ]
Locations =["dhaka" , "chattogram" , "sylhet"]

exactLocation = {co_or : loc for co_or, loc in zip(CoOrdinates,Locations)}

print(exactLocation)

{(10, 10.5): 'dhaka', (20.5, 192): 'chattogram', (101, 102): 'sylhet'}

# Problem Solving with In Built Structures

#### 1. Given a list of numbers, make a list with unique values.

In [28]:
lst = [10 , 20 , 10 , 30 , 30 , 50 , 30 , 10 , 20 , 10 , 10 ]

uniqueValues = set(lst)

lst = list(uniqueValues)

print(lst)

[10, 20, 50, 30]

#### 2. Given a string , print the frequency of the words

In [31]:
string = """data science machine learning data analysis machine 
learning statistics data models data training data validation features
features labels preprocessing data augmentation models data optimization 
gradient descent neural networks data tensors matrices visualization 
exploration pandas numpy matplotlib seaborn scikitlearn tensorflow pytorch 
deployment inference production monitoring reproducibility experiments results 
metrics accuracy precision recall f1 cross validation data machine
"""

words = string.split()

count = {}

for word in words:
  count[word] = count.get(word, 0) + 1

# print(count)

for k, v in count.items():
  print(f"count of {k} is {v}")

count of data is 9
count of science is 1
count of machine is 3
count of learning is 2
count of analysis is 1
count of statistics is 1
count of models is 2
count of training is 1
count of validation is 2
count of features is 2
count of labels is 1
count of preprocessing is 1
count of augmentation is 1
count of optimization is 1
count of gradient is 1
count of descent is 1
count of neural is 1
count of networks is 1
count of tensors is 1
count of matrices is 1
count of visualization is 1
count of exploration is 1
count of pandas is 1
count of numpy is 1
count of matplotlib is 1
count of seaborn is 1
count of scikitlearn is 1
count of tensorflow is 1
count of pytorch is 1
count of deployment is 1
count of inference is 1
count of production is 1
count of monitoring is 1
count of reproducibility is 1
count of experiments is 1
count of results is 1
count of metrics is 1
count of accuracy is 1
count of precision is 1
count of recall is 1
count of f1 is 1
count of cross is 1