In [1]:
phone_number = 224234
print(phone_number)

224234

In [3]:
name = "nemo"
print(name)

nemo

In [4]:
name="dazai"
age=25
height = 6.5
is_passed = True
print(type(name), type(age), type(height), type(is_passed))

<class 'str'> <class 'int'> <class 'float'> <class 'bool'>

In [5]:
age = 21.5
print(type(age))

<class 'float'>

# *Taking Input*

In [6]:
name = input("what is your name?")
print(name, type(name))

taylor <class 'str'>

In [7]:
age = input("Age?")
print(age, type(age))

20 <class 'str'>

In [8]:
age = input("Age?") #python takes input as string always by default
age = int(age) #type casted to integer
print(age, type(age))

20 <class 'int'>

In [9]:
height = float(input("height?"))
print(height, type(height))

6.5 <class 'float'>

In [10]:
height = float(input("height?"))
print(height, type(height))
height = height + 0.2
print(height, type(height))

6.5 <class 'float'>
6.7 <class 'float'>

# Comparison Operator

In [15]:
x = 10; y = 3

greater_than = x > y
greater_than_equal = 10 >= 10
print(greater_than, greater_than_equal)

less_than = x < y
less_than_equal = 10 <= 10
print(less_than, less_than_equal)

less_than = x < y
less_than_equal = 10 <= 10
print(less_than, less_than_equal)
equal = x == y
print(equal)

not_equal = x != y
print(not_equal)

True True
False True
False True
False
True

# Arithmatic Operator

In [17]:
x1 = int(input(""))
y1 = int(input(""))

sum = x1 + y1
sub = x1 - y1
mul = x1 * y1
div = round(x1 / y1, 2)
rem = x1 % y1
print(sum, sub, mul, div, rem)

13 7 30 3.33 1

# Logical Operator

In [18]:
x = 10; y = 5; z = 3
result = (x > y) and (x > z)
print(result)

True

In [19]:
x = 10; y = 5; z = 30
result = (x > y) and (x > z)
print(result)

False

In [20]:
x = 10; y = 5; z = 30
result = (x > y) or (x > z)
print(result)

True

In [21]:
x = 10; y = 50; z = 30
result = (x > y) or (x > z)
print(result)

False

# Codeforces: F. Digits Summation

In [26]:
inp = input()

numbers = inp.split()

x = int(numbers[0])
y = int(numbers[1])

lastDigitOfX = x % 10
lastDigitOfY = y % 10

sum = lastDigitOfX + lastDigitOfY
print(sum)

12

In [28]:
print(7/2)

3.5

# Conditional Statements

In [2]:
money = 1000
raining = False

if(money > 500) and (raining == False):
  print("let's go out today")
else:
  print("let's save our money from ourselves!")

let's go out today

# Loops

In [3]:
for i in range(10):
  print(i, 'Henlo!')

0 Henlo!
1 Henlo!
2 Henlo!
3 Henlo!
4 Henlo!
5 Henlo!
6 Henlo!
7 Henlo!
8 Henlo!
9 Henlo!

In [5]:
for i in range(1, 10, 2):
  print(i, 'Henlo!')

1 Henlo!
3 Henlo!
5 Henlo!
7 Henlo!
9 Henlo!

In [6]:
for i in range(1, 10):
  for j in range(1, 6):
    print(i, j)

1 1
1 2
1 3
1 4
1 5
2 1
2 2
2 3
2 4
2 5
3 1
3 2
3 3
3 4
3 5
4 1
4 2
4 3
4 4
4 5
5 1
5 2
5 3
5 4
5 5
6 1
6 2
6 3
6 4
6 5
7 1
7 2
7 3
7 4
7 5
8 1
8 2
8 3
8 4
8 5
9 1
9 2
9 3
9 4
9 5

In [7]:
count = 1
while count < 10:
  print(count, "henlo!")
  count = count + 1
print(count)

1 henlo!
2 henlo!
3 henlo!
4 henlo!
5 henlo!
6 henlo!
7 henlo!
8 henlo!
9 henlo!
10

In [8]:
count = 10
while count < 10:
  print(count, "henlo!")
  count = count + 1
print(count)

10

In [9]:
sum = 0
for i in range(1, 11):
  sum += i
  print(i, " is added to the sum")
print(sum)

1  is added to the sum
2  is added to the sum
3  is added to the sum
4  is added to the sum
5  is added to the sum
6  is added to the sum
7  is added to the sum
8  is added to the sum
9  is added to the sum
10  is added to the sum
55

In [10]:
sum = 0
for i in range(1, 11):
  print(i, " is processing..")
  if(i % 2 == 0): #to avoid even number adding to the sum
    continue
  sum += i
  print(i, " is added to the sum")
print(sum)

1  is processing..
1  is added to the sum
2  is processing..
3  is processing..
3  is added to the sum
4  is processing..
5  is processing..
5  is added to the sum
6  is processing..
7  is processing..
7  is added to the sum
8  is processing..
9  is processing..
9  is added to the sum
10  is processing..
25

In [12]:
accuracy = 40
for i  in range(100):
  accuracy += 1
  print(accuracy)
  if accuracy == 100:
    break

41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90
91
92
93
94
95
96
97
98
99
100

# Codeforces: K. Max and Min

In [20]:
inp = input();
numbers = inp.split();
x = int(numbers[0])
y = int(numbers[1])
z = int(numbers[2])
max = x
min = x
if y < min:
  min = y
if z < min:
  min = z

if y > max:
  max = y
if z > max:
  max = z
  
print(min , max)

-5 20

# C. Even, Odd, Positive and Negative

In [29]:
n = int(input())

inp = input()

numbers = inp.split()
# print(numbers)
even = 0; odd = 0; positive = 0; negative = 0 
for i in range(n):
  x = int(numbers[i])
  if x > 0:
    positive = positive + 1
  if x < 0:
    negative = negative + 1
  if (x % 2 == 0):
    even = even + 1
  if (x % 2 == 1):
    odd = odd + 1
print("Even: ", even)
print("Odd: ", odd)
print("Positive: ", positive)
print("Negative: ", negative)

Even:  3
Odd:  2
Positive:  1
Negative:  3

# Q. Digits

In [37]:
t = int(input())
for i in range(t):
  number = int(input())
  if number == 0:
    print(0)
    continue
  while number > 0:
    print(number%10, end=" ")
    number //=10
  print()

9 3
1 2 1
0

In [38]:
i = 0
while i < 3:
  i+=1
  if i == 2:
    break
print("Done")

Done

In [39]:
for i in range(2):
  for j in range(3):
    if j == 1:
      break
    print(i, j)

0 0
1 0

In [40]:
for i in range(3):
  if i == 1:
    break
  print(i)

0

In [41]:
for i in range(5):
  if i == 2:
    break
  print(i, end="")

01

In [42]:
count = 0
for n in [1, 2,3,4,5]:
  if n % 2 != 0:
    continue
  count += 1
print(count)

2

In [43]:
s = 0
for i in range(1,5):
  if i % 2 == 0:
    s += i
  else:
    s -= i
print(s)

2

In [44]:
for i in range(5, 0, -1):
  if i % 2 == 0:
    continue
  if i == 3:
    break
  print(i, end="")

5