In [1]:
phone_number = 224234
print(phone_number)

224234

In [3]:
name = "nemo"
print(name)

nemo

In [4]:
name="dazai"
age=25
height = 6.5
is_passed = True
print(type(name), type(age), type(height), type(is_passed))

<class 'str'> <class 'int'> <class 'float'> <class 'bool'>

In [5]:
age = 21.5
print(type(age))

<class 'float'>

# *Taking Input*

In [6]:
name = input("what is your name?")
print(name, type(name))

taylor <class 'str'>

In [7]:
age = input("Age?")
print(age, type(age))

20 <class 'str'>

In [8]:
age = input("Age?") #python takes input as string always by default
age = int(age) #type casted to integer
print(age, type(age))

20 <class 'int'>

In [9]:
height = float(input("height?"))
print(height, type(height))

6.5 <class 'float'>

In [10]:
height = float(input("height?"))
print(height, type(height))
height = height + 0.2
print(height, type(height))

6.5 <class 'float'>
6.7 <class 'float'>

#Comparison Operator

In [15]:
x = 10; y = 3

greater_than = x > y
greater_than_equal = 10 >= 10
print(greater_than, greater_than_equal)

less_than = x < y
less_than_equal = 10 <= 10
print(less_than, less_than_equal)

less_than = x < y
less_than_equal = 10 <= 10
print(less_than, less_than_equal)
equal = x == y
print(equal)

not_equal = x != y
print(not_equal)

True True
False True
False True
False
True

# Arithmatic Operator

In [17]:
x1 = int(input(""))
y1 = int(input(""))

sum = x1 + y1
sub = x1 - y1
mul = x1 * y1
div = round(x1 / y1, 2)
rem = x1 % y1
print(sum, sub, mul, div, rem)

13 7 30 3.33 1

# Logical Operator

In [18]:
x = 10; y = 5; z = 3
result = (x > y) and (x > z)
print(result)

True

In [19]:
x = 10; y = 5; z = 30
result = (x > y) and (x > z)
print(result)

False

In [20]:
x = 10; y = 5; z = 30
result = (x > y) or (x > z)
print(result)

True

In [21]:
x = 10; y = 50; z = 30
result = (x > y) or (x > z)
print(result)

False